/** system panel **/
.system-panel {
  background-color: #000;
  border: 3px solid #444;
  bottom: 0;
  padding: 50px;
  position: absolute;
  top: 50px;
  width: 100%;
}

.system-container {
  height: 100%;
  width: 100%;
}

.system-container .row {
  height: 7.69%;
}

.system-container .row > div {
  border: 1px dotted #333;
  height: 100%;
  width: 7.69%;
}

.planet {
  background-color: #333;
}

.sun {
  background-color: #FFFF00;
}

.ship {
  background-color: #AB34DF;
  height: 16px;
  width: 16px;
}
