.system-container {
  background-color: #000;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.system-container .row {
  height: 8.3333%;
}

.system-container .row div {
  border: 1px dotted #333;
  height: 100%;
}

.planet {
  background-color: #333;
}

.sun {
  background-color: #FFFF00;
}
